
body {
    background-color: #caf7e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ffc93c;
    border-width: 5px;
    width: 5%;
}
h3{
    color: #160f30;
}
h1{
    color: #03506f;
}
img{
    border-radius: 50%;
    border-style: double;
    border-color: black;
    width: 25%;
    height: auto;

}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #feffde;
    width: 70%;
    border-radius: 1%;
    padding: 3%;
    font-size: 2 rem;
    overflow: hidden;

}

.edu{
    text-align: center;
}
 .name:hover{
     color: #2f5d62;

 }
